.heroSection {
  padding-top: 80px;
  padding-bottom: 77px;
}
.heroContent {
  max-width: 520px;
}
.heroTitle {
  font-weight: 400;
  font-size:clamp(28px,5vw,82px);
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 7px;
}
.titleSpan {
  font-weight: 500;
  font-size: clamp(74px, 10vw, 119px);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 7px;
}

.heroSubTitle {
  font-weight: 500;
  font-size:clamp(14px,2vw,24px);
  text-align: center;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 31px;
}
.heroText {
  font-weight: 500;
  font-size:clamp(12px,1.4vw,16px);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 150px;
}
.heroButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.heroBtnFrst {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  fill: #fdfdfd;
  width: 207px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #1b1d20;
}

.heroBtnSec:hover svg {
  color: #fdfdfd;
  transform: translateX(4px);
}

.heroBtnSec {
  width: 200px;
  height: 45px;
  border-radius: 15px;
  border: 0.5px solid rgba(253, 253, 253, 0.7);
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.heroBtnFrst:hover,
.heroBtnFrst:focus {
  color: #fff;
  background-color: #1b1d20;
  transition: 0.3s ease;
}

.heroBtnSec:hover,
.heroBtnSec:focus {
  color: #fff;
  background-color: #1b1d20;
  transition: 0.3s ease;
  border: none;
}

@media (min-width: 768px) {
  .heroSection {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .heroContent{
    max-width:700px;
}
  .heroText {
    margin-bottom: 90px;
  }

  .heroButtons {
    flex-direction: row;
    justify-content: center;
  }
  .heroBtnFrst {
    width: 247px;
    height: 54px;
  }
  .heroBtnSec {
    width: 240px;
    height: 54px;
  }

}

@media (min-width: 1440px) {
  .heroSection {
    padding-top: 120px;
    padding-bottom: 90px;
  }

  .heroContent {
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .heroContent > div:first-child{
    max-width:560px;
}

  .heroTitle {
    margin-bottom: 10px;
    text-align: left;
  }
  .titleSpan {
    text-align: left;
  }

  .heroSubTitle {
    margin-bottom: 25px;
    text-align: left;
  }
  .heroText {
    margin-bottom: 25px;
    text-align: left;
  }
  .heroButtons {
    display: inline-flex;
    flex-direction: row;
    gap: 57px;
    justify-content: flex-start;
  }
}
