.socialLinksList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin: 0 0 45px 0;
    padding: 0;
    color: #fff;
  }


  @media (min-width: 1440px){

      .socialLinksList {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 17px;
        margin: 0 0 45px 0;
        padding: 0;
        color: #fff;
        width: fit-content;
      }
  }
