/* .about {
} */
.title {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}
.text {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #000;
  max-width: 620px;
  margin: 0 auto 24px;
  line-height: 1.8;
  margin-bottom: 19px;
}

.divider {
  height: 1px;
  margin: 0 auto 24px;
  background: rgba(24, 25, 27, 0.2);
}

@media (min-width: 1440) {
  .text {
    max-width: 760px;
    font-size: 18px;
    line-height: 1.8;
  }
}
