
.title {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 16px;
}
.text {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: var(--text-secondary);
  max-width: 620px;
  margin: 0 auto 19px;
  line-height: 1.8;
}

.divider {
  height: 1px;
  margin: 0 auto 24px;
  background: var(--border);
}

@media (min-width: 1440px) {
  .text {
    max-width: 760px;
    font-size: 18px;
    line-height: 1.8;
  }
}
