.section {
  padding-top: 80px;
  background-color: var(--background);
}

.title {
  font-weight: 600;
  font-size: 32px;
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 17px;
}

.text {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: var(--text-secondary);
  margin: 0 auto 19px;
  line-height: 1.8;
}

.bookBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--button-bg);
  color: var(--button-text);
  width: 207px;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
}

.bookBtn:hover,
.bookBtn:focus {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
