.gallerySection {
  padding-top: 80px;
}
.header {
  position: relative;
}

.controls {
  display: none;
}
.title {
  font-weight: 600;
  font-size: 32px;
  color: #000;
  text-align: center;
  margin-bottom: 17px;
}
.text {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #000;
  margin: 0 auto 24px;
  line-height: 1.8;
  margin-bottom: 19px;
}

.galleryList {
  display: flex;
  flex-direction: row;
  gap: 5px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none;
}

.galleryList::-webkit-scrollbar {
  display: none;
}
.galleryItem {
  flex: 0 0 420px;
  scroll-snap-align: start;
}
.galleryImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .title {
    text-align: left;
  }
  .text {
    text-align: left;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .controls {
    display: flex;
    gap: 12px;
  }

  .arrowBtn {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid #d9d9d9;

    background-color: #fff;
    color: #1b1d20;

    font-size: 30px;
    font-weight: 300;
    line-height: 1;

    cursor: pointer;

    transition: 0.3s ease;
  }

  .arrowBtn:hover {
    background-color: #f1f1f1;
  }
}
