.overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.55);

  z-index: 1000;
}

.modal {
  position: relative;

  width: 717px;

  background: white;

  border-radius: 15px;

  padding: 53px 104px 40px;

  overflow-y: auto;

  max-height: 90vh;
  transition:
    opacity .3s ease,
    transform .3s ease;
}

.closing {
  opacity: 0;
  transform: translateY(30px);
}

.closeBtn {
  position: absolute;

  top: 24px;
  right: 24px;

  border: none;

  background: transparent;

  cursor: pointer;

  font-size: 30px;
}
