.overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.55);

  z-index: 1000;
}

.modal {
  position: relative;
  padding: 32px 24px;

  width: calc(100% - 32px);
  max-width: 560px;

  background: var(--card);
  color: var(--text-primary);
  border: 0.5px solid var(--border);
  border-radius: 15px;

  overflow-y: auto;

  max-height: 90vh;
  transition:
    opacity .3s ease,
    transform .3s ease;
}

.closing {
  opacity: 0;
  transform: translateY(30px);
}

.closeBtn {
  position: absolute;

  top: 24px;
  right: 24px;

  border: none;
  color: var(--text-primary);

  background: transparent;

  cursor: pointer;

  font-size: 30px;
}


@media (min-width: 768px){
  .modal {
    width: 717px;
    max-width: calc(100% - 64px);
    padding: 48px 64px;
  }
}