.field {
  display: flex;
  flex-direction: column;
   margin-bottom: 17px;
  }
  
  .label {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 3px;
    color: var(--text-primary);
  }
  .input {
    border: 1px solid var(--border);
    border-radius: 10px;
    width: 100%;
    min-height: 47px;
    padding: 0 14px;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-primary);
    background: var(--input-bg);
  }

  .input::placeholder {
    color: var(--input-placeholder);
  }

  
  .input:focus {
    outline: none;
    border-color: var(--input-focus);
  }
  .error{ 
    font-size: 12px;
    color: var(--error);
    margin-top: 3px;
  }
  
  .inputError {
    border-color: var(--error); 
}