.eventSection {
  padding-top: 80px;
}

.header {
  display: block;
}

.checkBtn {
  display: none;
}

.subTextEvent {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin-bottom: 17px;
}
.eventTitle {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #000;
  margin-bottom: 17px;
}

.eventsList {
  display: flex;
  flex-direction: column;
}

.eventItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 36px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.08);

  /* border-top: 1px solid #d8d8d8; */
}

.cardTitle {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin-bottom: 5px;
}
.cardText {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}
.cardDetails {
  display: block;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 25px;
}

.eventDate {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  margin-bottom: 8px;
}
.eventDay {
  font-weight: 500;
  font-size: 14px;
  color: #000;
}
.eventMonth {
  font-weight: 400;
  font-size: 8px;
  text-transform: uppercase;
  color: #000;
}

.ticketBtn {
  border-radius: 6px;
  width: 83px;
  height: 23px;
  background: #18191b;

  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.checkBtnMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 170px;
  height: 36px;
  border-radius: 10px;
  fill: #e7e7e7;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  margin-top: 15px;
}

.ticketBtn:hover,
.ticketBtn:focus {
  color: #fff;
  background-color: #82776d;
  transition: 0.3s ease;
}

.checkBtn:hover,
.checkBtn:focus {
  color: #fff;
  background-color: #82776d;
  transition: 0.3s ease;
}

.ticketsBtn {
  transition: 0.3s;
}

.ticketsBtn:hover {
  background: #000;
  color: #fff;
  transform: translateY(-2px);
}

.eventItem {
  transition: 0.3s;
}

.eventItem:hover {
  background: #fafafa;
}

@media (min-width: 768px) {
  .eventItem {
    display: grid;

    grid-template-columns:
      80px
      1fr
      130px;

    align-items: flex-end;
  }

  .subTextEvent,
  .eventTitle {
    text-align: left;
  }
  .eventTitle {
    margin-bottom: 0;
  }

  .cardTitle {
    text-align: left;
  }
  .cardText {
    text-align: left;
  }
  .cardDetails {
    text-align: left;
  }

  .cardDetails,
  .eventDate,
  .eventDay,
  .eventMonth {
    margin-bottom: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 40px;
  }

  .checkBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 170px;
    height: 36px;
    border-radius: 10px;
    fill: #e7e7e7;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
  }

  .ticketBtn {
    width: 133px;
    height: 38px;
    justify-self: end;
  }

  .eventDate {
    justify-self: start;
  }

  .checkBtnMobile {
    display: none;
  }
}

@media (min-width: 1440px) {
  .eventSection {
    padding-top: 120px;
  }

  .eventItem {
    grid-template-columns:
      80px /* дата */
      1.3fr /* назва */
      170px; /* кнопка */

    align-items: center;

    gap: 100px;

    padding: 36px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }

  .eventInfo {
    display: grid;
    grid-template-columns:
      1.3fr
      1fr
      auto;

    align-items: center;
  }

  .cardTitle,
  .cardText,
  .cardDetails {
    margin-bottom: 0;
  }

  .ticketBtn {
    width: 133px;
    height: 38px;
    justify-self: end;
  }

  .eventDate {
    justify-self: start;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 40px;
  }

  .checkBtn {
    display: flex;
  }
  .checkBtnMobile {
    display: none;
  }
}
