.heroWrapper{
    background-image: url("/images/TatYANa1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .contentContainer {
    display: flex;
    flex-direction: column;
  }


  @media(min-width: 768px){
    .contentContainer {
      gap: 56px;
      max-width: 700px;
      margin: 0 auto;
      /* padding: 60px 24px; */
    }
  
    .cardColumn {
      display: flex;
      justify-content: center;
    }
  }
  
  @media (min-width: 1440px) {
    .contentContainer {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 48px;
  
      align-items: start;
  
      max-width: 1200px;
      margin: 0 auto;
  
      /* padding: 80px 32px; */
    }
  
    .videoColumn {
      width: 100%;
    }
  
    .cardColumn {
      display: block;
    }
  }


  