.heroWrapper{
    background-image: url("/images/TatYANa1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  @media (min-width: 768px) {
  }
  
  @media (min-width: 1440px){
    .contentContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
     gap: 20px;
    }
  }


  